# Star Wars Data Clean

In [32]:
import pandas as pd
import matplotlib.pyplot as plt

import re
import json

## Cleaning Raw Data

### Episode 2

In [25]:
filename = './data/02_star_wars_raw.txt'

with open(filename, 'r') as raw_file:
    raw_lines = raw_file.readlines()

print(f'Lines {len(raw_lines)}')

Lines 5493

In [26]:
paragraphs = dict()

paragraph_num = 1
paragraphs[paragraph_num] = dict()
paragraphs[paragraph_num]['lines'] =list()

for line in raw_lines:
    if line == '\n':
        paragraph_num += 1
        paragraphs[paragraph_num] = dict()
        paragraphs[paragraph_num]['lines'] =list()
    else:
        paragraphs[paragraph_num]['lines'].append(line.replace('\n', '').replace('\t', '').replace('ï¿½', 'E'))
        
for p_num, content in paragraphs.items():
    print(f'****** {p_num} ({len(content)}) *****')
    print(content['lines'])
    if p_num > 20:
        break

****** 1 (1) *****
['EXT. SPACE', 'A vast sea of stars severas as a backdrop for the Main Title, following by a rollup, whcih crawls into infinity.']
****** 2 (1) *****
['There is unrest in the Galactic Senate', 'Several hundred solar systems under', 'the leadership of the rebel leader, Count', 'Dooku, have decalred their intentions to', 'secede from the Republic.']
****** 3 (1) *****
['This separatist movement has made it', 'difficult for the limited number of', 'Jedi Kights to maintain peace and', 'order in the galaxy.']
****** 4 (1) *****
['Senator Amidala, the former Queen of', 'Naboo, is returning to Coruscant', 'to vote on the critical issue', 'of creating an army to assist the', 'overwhelmed Jedi.']
****** 5 (1) *****
['PAN UP to reveal the amber city planet of Coruscant. A yellow Naboo Fighter flies OVER CAMERA toward the planet, followed by a large Royal Cruiser and two more Fighters.']
****** 6 (1) *****
['EXT. CITYSCAPE, CORUSCANT - DAWN', 'The ships skim across the surface of the city landscape. The sun glints off the chrome hulls of the sleek Naboo spacecraft as they navigate between the buildings of the capital planet.']
****** 7 (1) *****
['EXT. CORUSCANT, LANDING PLATFORM - DAWN', 'Two Naboo Fighters land on one leaf of a three-leaf-clover landing platform. The Royal Starship lands on the central lead, and the third Fighter lands on the remaining plaform.']
****** 8 (1) *****
["A small GROUP OF DIGNITARIES waits to welcome the Senator. One of the members of the group os a well dressed JAR JAR BINKS, a member of the Galactic Representative Commission, and DORME, Senator Amidala's handmaiden."]
****** 9 (1) *****
["One of the FIGHTER PILOTS jumps from the wing of his ship and removes his helmet. He is CAPTAIN TYPHO, SENATOR AMIDALA'S Security Officer. He moves over to a WOMAN PILOT."]
****** 10 (1) *****
['CAPTAIN TYPHO', 'We made it. I guess I was wrong,', 'there was no danger at all.']
****** 11 (1) *****
['The ramp ;pwers. TWO NABOO GUARDS appear. SENATOR AMIDALA, ONE HANDMAIDEN (VERSE) and FOUR TROOPERS descend the ramp. AMIDALA is more beautiful now than she was ten years earlier when, as Queen, she was freeing her people from the yoke of the Trade Federation.']
****** 12 (1) *****
['The DIGNITARIES start to move forward. SENATOR AMIDALA reaches the foot of the ramp, when suddenly there is a blinding FLASH and a huge EXPLOSION. The DIGNITARIES and PILOTS are hurled to the ground as the starship is destroyed.']
****** 13 (1) *****
['Klaxons blare, alarms sound! CAPTAIN TYPHO and the TWO ESCORT PILOTS get up and run to where SENATOR AMIDALA lies dying. Beyond, ARTOO DETOO drops down from the Naboo Fighter and rolls toward the wreckage. The FEMALE ESCORT PILOT kneels by SENATOR AMIDALA and takes off her helmet, revealing SENATOR PADME AMIDALA.']
****** 14 (1) *****
['PADME', 'CordE...']
****** 15 (1) *****
["She gathers up her decoy double in her arms. CordE's eyes are open. She looks up at her."]
****** 16 (1) *****
['CORDE', "... I'm sorry, m'lady... I'm... not sure I..."]
****** 17 (1) *****
['CORDE dies. PADME hugs her.']
****** 18 (1) *****
['AMIDALA', 'No!... No!... No!...']
****** 19 (1) *****
['PADME lowers CORDE to the ground. She gets up and looks around at the devastation. There are tears in her eyes.']
****** 20 (1) *****
['AMIDALA', 'I should not have come back.']
****** 21 (1) *****
['CAPTAIN TYPHO', "M'Lady, you are still in danger."]

In [37]:
save_json = True
if save_json:
    filename = './output/paragraphs.json'
    with open(filename, 'w') as json_file:
        json.dump(paragraphs, json_file)

In [43]:
actor_regexp = re.compile(r'(([A-Z\-]+)\s?([A-Z\-]+)?)')
actor_lines = dict()
#print(paragraphs[161])
for p_num, content in paragraphs.items():
    #actor_lines[p_num]['actor'] = ''
    if len(content['lines']) >0:
        match = actor_regexp.match(content['lines'][0])
        if match and len(content['lines']) > 1:
            actor_lines[p_num]= dict()
            actor_lines[p_num]['actor'] = match.group(1)
            actor_lines[p_num]['lines'] = content['lines'].copy()
            actor_lines[p_num]['lines'].pop(0)
            #print(f'========= {p_num} {actor_lines[p_num]["actor"]} =====')
            #print(actor_lines[p_num]['lines'])
        else:
            print(f'>>> {p_num}')
            #print(content['lines'])
            #print('>>>'*60)
    else:
        print(f'>>>> Paragraph {p_num} is empty')
        #print(content['lines'])

>>> 5
>>> 8
>>> 9
>>> 11
>>> 12
>>> 13
>>> 15
>>> 17
>>> 19
>>> 22
>>> 24
>>> 28
>>> 30
>>> 32
>>> 36
>>> 39
>>> 44
>>> 46
>>> 48
>>> 50
>>> 59
>>> 64
>>> 67
>>> 72
>>> 76
>>> 86
>>> 91
>>> 93
>>> 95
>>> 100
>>> 103
>>> 106
>>> 110
>>> 114
>>> 116
>>> 118
>>> 120
>>> 126
>>> 135
>>> 138
>>> 153
>>> 156
>>> 159
>>> 161
>>> 173
>>> 187
>>>> Paragraph 190 is empty
>>> 191
>>> 192
>>> 196
>>> 201
>>> 205
>>> 209
>>> 212
>>> 215
>>> 217
>>> 220
>>> 223
>>> 228
>>> 231
>>> 233
>>> 238
>>> 242
>>> 247
>>> 251
>>> 253
>>> 259
>>> 264
>>> 265
>>> 266
>>> 267
>>> 268
>>> 270
>>> 271
>>> 272
>>> 273
>>> 277
>>> 280
>>> 283
>>> 288
>>> 299
>>> 302
>>> 303
>>> 305
>>> 308
>>> 311
>>> 312
>>> 313
>>> 314
>>> 315
>>> 317
>>> 322
>>> 328
>>> 330
>>> 331
>>> 338
>>> 341
>>> 355
>>> 361
>>> 364
>>> 367
>>> 369
>>> 372
>>> 377
>>> 380
>>> 386
>>> 390
>>> 397
>>> 400
>>> 404
>>> 412
>>> 415
>>> 419
>>> 424
>>> 426
>>> 428
>>> 431
>>> 435
>>> 437
>>> 448
>>> 450
>>> 453
>>> 455
>>> 459
>>> 462
>>> 464
>>> 468
>>> 471
>>> 474
>>> 477
>>> 479
>>> 482
>>> 488
>>> 492
>>> 495
>>> 507
>>> 526
>>> 532
>>> 537
>>> 539
>>> 542
>>> 543
>>> 553
>>> 559
>>> 562
>>> 568
>>> 574
>>> 577
>>> 580
>>> 583
>>> 585
>>> 587
>>> 590
>>> 594
>>> 599
>>> 601
>>> 608
>>> 639
>>> 643
>>> 645
>>> 647
>>> 649
>>> 653
>>> 660
>>> 663
>>> 667
>>> 673
>>> 676
>>> 679
>>> 684
>>> 687
>>> 691
>>> 699
>>> 705
>>> 712
>>> 714
>>> 716
>>> 718
>>> 720
>>> 722
>>> 730
>>> 739
>>> 742
>>> 746
>>> 749
>>> 753
>>> 754
>>> 759
>>> 771
>>> 793
>>> 795
>>> 799
>>> 801
>>> 802
>>> 803
>>> 804
>>> 807
>>> 820
>>> 824
>>> 831
>>> 838
>>> 850
>>> 854
>>> 862
>>> 866
>>> 870
>>> 873
>>> 876
>>> 878
>>> 881
>>> 884
>>> 887
>>> 890
>>> 894
>>> 901
>>> 913
>>> 918
>>> 923
>>> 925
>>> 927
>>> 929
>>> 931
>>> 933
>>> 935
>>> 944
>>> 946
>>> 952
>>> 955
>>> 958
>>> 959
>>> 960
>>> 961
>>> 962
>>> 963
>>> 964
>>> 965
>>> 966
>>> 967
>>> 968
>>> 969
>>> 970
>>> 971
>>> 972
>>> 973
>>> 974
>>> 975
>>> 976
>>> 977
>>> 980
>>> 992
>>> 1000
>>> 1006
>>> 1008
>>> 1014
>>> 1019
>>> 1022
>>> 1024
>>> 1028
>>> 1030
>>> 1032
>>> 1034
>>> 1035
>>> 1038
>>> 1039
>>> 1040
>>> 1043
>>> 1046
>>> 1052
>>> 1063
>>> 1068
>>> 1074
>>> 1076
>>> 1077
>>> 1079
>>> 1080
>>> 1081
>>> 1085
>>> 1088
>>> 1090
>>> 1095
>>> 1097
>>> 1098
>>> 1100
>>> 1116
>>> 1122
>>> 1125
>>> 1132
>>> 1135
>>> 1140
>>> 1144
>>> 1146
>>> 1150
>>>> Paragraph 1152 is empty
>>>> Paragraph 1153 is empty
>>>> Paragraph 1154 is empty
>>>> Paragraph 1155 is empty
>>> 1156
>>> 1157
>>> 1158
>>> 1159
>>> 1160
>>> 1161
>>>> Paragraph 1162 is empty
>>>> Paragraph 1163 is empty
>>>> Paragraph 1164 is empty
>>>> Paragraph 1165 is empty
>>>> Paragraph 1166 is empty
>>>> Paragraph 1167 is empty
>>> 1170
>>> 1178
>>> 1180
>>> 1185
>>> 1187
>>> 1192
>>> 1196
>>> 1198
>>> 1200
>>> 1202
>>> 1204
>>> 1207
>>> 1209
>>> 1210
>>> 1218
>>> 1220
>>> 1226
>>> 1227
>>> 1229
>>> 1232
>>> 1235
>>> 1236
>>> 1244
>>> 1247
>>> 1258
>>> 1260
>>> 1263
>>> 1268
>>> 1272
>>> 1274
>>> 1283
>>> 1284
>>> 1289
>>> 1291
>>> 1293
>>> 1295
>>> 1296
>>> 1299
>>> 1301
>>> 1302
>>> 1303
>>> 1304
>>> 1305
>>> 1306
>>> 1307
>>> 1308
>>> 1310
>>> 1314
>>> 1315
>>> 1317
>>> 1319
>>> 1322
>>> 1327
>>> 1330
>>> 1332
>>> 1333
>>> 1334
>>> 1335
>>> 1339
>>> 1340
>>> 1346
>>> 1348
>>> 1351
>>> 1352
>>> 1353
>>> 1355
>>> 1359
>>> 1361
>>> 1363
>>> 1367
>>> 1370
>>> 1373
>>> 1375
>>> 1377
>>> 1379
>>> 1384
>>> 1387
>>> 1389
>>> 1390
>>> 1393
>>> 1395
>>> 1400
>>> 1403
>>> 1405
>>> 1408
>>> 1410
>>> 1412
>>> 1414
>>> 1415
>>> 1416
>>> 1417
>>> 1420
>>> 1424
>>> 1425
>>> 1426
>>> 1427
>>> 1429
>>> 1431
>>> 1432
>>> 1433
>>> 1436
>>> 1437
>>> 1438
>>> 1440
>>> 1442
>>> 1450
>>> 1453
>>> 1456
>>> 1459
>>> 1461
>>> 1462
>>> 1463
>>> 1464
>>> 1465

In [51]:
df_dict = dict()
df_dict['Paragraph'] = list()
df_dict['Character'] = list()
df_dict['Dialogue'] = list()
for p_num, content in actor_lines.items():
    df_dict['Paragraph'].append(p_num)
    df_dict['Character'].append(content['actor'])
    df_dict['Dialogue'].append(' '.join(content['lines']))

In [52]:
df = pd.DataFrame.from_dict(df_dict)
df.head()

   Paragraph Character                                           Dialogue
0          1       EXT  A vast sea of stars severas as a backdrop for ...
1          2         T  Several hundred solar systems under the leader...
2          3         T  difficult for the limited number of Jedi Kight...
3          4         S  Naboo, is returning to Coruscant to vote on th...
4          6       EXT  The ships skim across the surface of the city ...

In [53]:
df['Character'].value_counts()

ANAKIN                192
PADME                 163
OBI-WAN               156
EXT                    79
INT                    70
                     ...
HERMIONE                1
CORDE                   1
THREEPIO                1
ELAN SLEAZEBAGGANO      1
CLONE CAPTAIN           1
Name: Character, Length: 77, dtype: int64