# Cleanup of Star Wars

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import json

## Loading Data

### Episode 1 and Episode 2

In [26]:
pkl_episodes = [{'filename': 'episode_01.pkl', 'name': 'The Phantom Menace'}, 
            {'filename': 'episode_02.pkl', 'name':'Attack of the Clones'}]

for episode in pkl_episodes:
    filename = f'./data/{episode["filename"]}'
    episode['df'] = pd.read_pickle(filename)
    episode['df'].drop(["Paragraph"],axis=1,inplace=True)
    episode['df'].rename(columns={'Character': 'character', 'Dialogue': 'dialogue'}, inplace=True)
    episode['df']['episode'] = episode['name']

In [27]:
pkl_episodes[0]['df'].head()

,character,dialogue,episode
2,PAN DOWN,speed. PAN with the cruiser as it heads toward...,The Phantom Menace
4,CAPTAIN,QUI-GON : (V.O) Tell them we wish to board at ...,The Phantom Menace
6,CAPTAIN,Ambassodors for the Supreme Chancellor wish to...,The Phantom Menace
9,A PROTOCOL,"DROIDS, PK-4 and EG-9 watch.",The Phantom Menace
10,PK-4,protocol gearheads to greet them.,The Phantom Menace

In [28]:
pkl_episodes[1]['df'].head()

,character,dialogue,episode
6,CAPTAIN TYPHO,"We made it. I guess I was wrong, there was no ...",Attack of the Clones
7,PADME,CordE...,Attack of the Clones
8,CORDE,"... I'm sorry, m'lady... I'm... not sure I...",Attack of the Clones
9,AMIDALA,No!... No!... No!...,Attack of the Clones
10,AMIDALA,I should not have come back.,Attack of the Clones

### Episode 4, 5 and 6

In [30]:
csv_episodes = [{'filename': '04_star_wars.txt', 'name': 'A New Hope'}, 
            {'filename': '05_star_wars.txt', 'name':'The Empire Strikes Back'},
            {'filename': '06_star_wars.txt', 'name':'The Return of the Jedi'},]

for episode in csv_episodes:
    filename = f'./data/{episode["filename"]}'
    episode['df'] = pd.read_csv(filename, delim_whitespace=True,
                      names=["index","character","dialogue"], 
                      header = None)
    episode['df'].drop(0,inplace=True)
    episode['df'].drop(["index"],axis=1,inplace=True)
    episode['df']['episode'] = episode['name']

In [42]:
#print(f'{csv_episodes[0]["df"].iloc([0], [0])}')
print(f"Shape: {csv_episodes[0]['df'].shape}")
csv_episodes[0]['df'].head()

Shape: (1010, 3)

  character                                           dialogue     episode
1  THREEPIO  Did you hear that?  They've shut down the main...  A New Hope
2  THREEPIO                                      We're doomed!  A New Hope
3  THREEPIO  There'll be no escape for the Princess this time.  A New Hope
4  THREEPIO                                       What's that?  A New Hope
5  THREEPIO  I should have known better than to trust the l...  A New Hope

In [43]:
print(f"Shape: {csv_episodes[1]['df'].shape}")
csv_episodes[1]['df'].head()

Shape: (839, 3)

,character,dialogue,episode
1,LUKE,"Echo Three to Echo Seven. Han, old buddy, do y...",The Empire Strikes Back
2,HAN,"Loud and clear, kid. What's up?",The Empire Strikes Back
3,LUKE,"Well, I finished my circle. I don't pick up an...",The Empire Strikes Back
4,HAN,There isn't enough life on this ice cube to fi...,The Empire Strikes Back
5,LUKE,Right. I'll see you shortly. There's a meteori...,The Empire Strikes Back

In [44]:
print(f"Shape: {csv_episodes[2]['df'].shape}")
csv_episodes[2]['df'].head()

Shape: (674, 3)

,character,dialogue,episode
1,SHUTTLE CAPTAIN,"Command station, this is ST 321. Code Clearanc...",The Return of the Jedi
2,DEATH STAR CONTROLLER,The security deflector shield will be deactiva...,The Return of the Jedi
3,SHUTTLE CAPTAIN,We're starting our approach.,The Return of the Jedi
4,OFFICER,Inform the commander that Lord Vader's shuttle...,The Return of the Jedi
5,OPERATOR,"Yes, sir.",The Return of the Jedi