# Iteration perfromance

In [1]:
from pathlib import Path

import csv
import time

import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
from tqdm import tqdm
import seaborn as sns


%matplotlib inline

## Configuration

In [11]:
data_folder = Path.cwd().parent / 'data'

earth_quake_file = data_folder / 'repository_data.csv'

print(f'File found {earth_quake_file} {earth_quake_file.exists()}')

File found /home/luiscberrocal/PycharmProjects/star_wars_analysis/data/repository_data.csv True

## Load data

In [12]:
df = pd.read_csv(earth_quake_file)

print(f'Record count {df.shape[0]:,}')

Record count 2,917,951

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2917951 entries, 0 to 2917950
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   name              object
 1   stars_count       int64
 2   forks_count       int64
 3   watchers          int64
 4   pull_requests     int64
 5   primary_language  object
 6   languages_used    object
 7   commit_count      float64
 8   created_at        object
 9   licence           object
dtypes: float64(1), int64(4), object(5)
memory usage: 222.6+ MB

In [14]:
df.head()

,name,stars_count,forks_count,watchers,pull_requests,primary_language,languages_used,commit_count,created_at,licence
0,freeCodeCamp,359805,30814,8448,31867,TypeScript,"['TypeScript', 'JavaScript', 'CSS', 'Shell', '...",32231.0,2014-12-24T17:49:19Z,"BSD 3-Clause ""New"" or ""Revised"" License"
1,996.ICU,264811,21470,4298,1949,NaN,NaN,3189.0,2019-03-26T07:31:14Z,Other
2,free-programming-books,262380,53302,9544,8235,NaN,NaN,8286.0,2013-10-11T06:50:37Z,Other
3,coding-interview-university,244927,65038,8539,867,NaN,NaN,2314.0,2016-06-06T02:34:12Z,Creative Commons Attribution Share Alike 4.0 I...
4,awesome,235223,24791,7446,1859,NaN,NaN,1074.0,2014-07-11T13:42:37Z,Creative Commons Zero v1.0 Universal

In [15]:
df['primary_language'].value_counts()

JavaScript              451954
Python                  451473
Java                    202394
C++                     150066
PHP                     116058
                         ...
LoomScript                   1
Ragel in Ruby Host           1
Edje Data Collection         1
Sieve                        1
Ox                           1
Name: primary_language, Length: 497, dtype: int64