# Iteration perfromance

In [1]:
from pathlib import Path

import csv
import time

import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
from tqdm import tqdm
import seaborn as sns


%matplotlib inline

## Configuration

In [6]:
data_folder = Path.cwd().parent / 'data'

earth_quake_file = data_folder / 'earthquakes-2000-01-01-2023-02-12.csv'

print(f'File found {earth_quake_file} {earth_quake_file.exists()}')

File found /home/luiscberrocal/PycharmProjects/star_wars_analysis/data/earthquakes-2000-01-01-2023-02-12.csv True

## Load data

In [7]:
df = pd.read_csv(earth_quake_file)

df.shape

(613787, 23)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613787 entries, 0 to 613786
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       613787 non-null  int64
 1   time             613787 non-null  object
 2   latitude         613787 non-null  float64
 3   longitude        613787 non-null  float64
 4   depth            613787 non-null  float64
 5   mag              613787 non-null  float64
 6   magType          613786 non-null  object
 7   nst              383307 non-null  float64
 8   gap              498837 non-null  float64
 9   dmin             257169 non-null  float64
 10  rms              506393 non-null  float64
 11  net              613787 non-null  object
 12  id               613787 non-null  object
 13  updated          613787 non-null  object
 14  place            612432 non-null  object
 15  type             613787 non-null  object
 16  horizontalError  257113 non-null  float64
 17  depthError       401781 non-null  float64
 18  magError         257685 non-null  float64
 19  magNst           403298 non-null  float64
 20  status           613787 non-null  object
 21  locationSource   613787 non-null  object
 22  magSource        613787 non-null  object
dtypes: float64(12), int64(1), object(10)
memory usage: 107.7+ MB

In [9]:
df.head()

,Unnamed: 0,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,0,2000-01-01T01:19:26.990Z,41.9270,20.543,10.0,4.5,mb,NaN,NaN,NaN,...,2014-11-07T01:09:14.397Z,"14 km SW of Dragash, Kosovo",earthquake,NaN,NaN,NaN,18.0,reviewed,us,us
1,1,2000-01-01T02:10:15.590Z,41.9150,20.534,6.2,2.9,md,NaN,NaN,NaN,...,2014-11-07T01:09:14.652Z,"15 km SW of Dragash, Kosovo",earthquake,NaN,NaN,NaN,NaN,reviewed,pdg,pdg
2,2,2000-01-01T02:12:13.450Z,-11.3480,164.568,33.0,4.3,mb,NaN,NaN,NaN,...,2014-11-07T01:09:14.702Z,"150 km WSW of Lata, Solomon Islands",earthquake,NaN,NaN,NaN,2.0,reviewed,us,us
3,3,2000-01-01T03:20:57.300Z,48.1190,-2.959,3.0,2.7,ml,NaN,NaN,NaN,...,2014-11-07T01:09:14.711Z,"2 km ESE of Neulliac, France",earthquake,NaN,NaN,NaN,NaN,reviewed,ldg,ldg
4,4,2000-01-01T03:24:23.217Z,62.7531,-150.301,93.3,2.5,ml,NaN,NaN,NaN,...,2020-02-20T20:06:40.502Z,"35 km NNW of Chase, Alaska",earthquake,NaN,3.2,NaN,NaN,reviewed,ak,ak